
h5{
	color: tomato;
	text-align: center;
}

h3{
  text-transform: uppercase;
  text-align: center;
  color: grey;
}

img{
  max-width: 100%;
  margin-bottom: 10px;
}

h6{
  color: red;
  text-align: left;
}




